<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Vue</title>
</head>

<body>
    <div id="app">
        <h1>差值表达式</h1>
        <h3>{{ msg }}</h3>
        <h3>{{ count }}</h3>
        <h1>v-text</h1>
        <div v-text="msg"></div>
        <h1>v-model</h1>
        <input type="text" v-model="msg" v-on:input="output">
        <input type="text" v-model="count" v-on:input="handler">
        <p v-html="html"></p>
        <p v-on:click="click">点击</p>
    </div>
</body>
<script src="./js/dep.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compiler.js"></script>
<script src="./js/observer.js"></script>
<script src="./js/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: 'hello vue',
            count: 0,
            person: { name:'43'},
            html: '<a>这是v-html指令</p>'
        },
        methods: {
            output() {
                console.log(this.msg)
            },
            handler() {
                console.log(this.count)
            },
            click() {
                console.log("这是点击了")
            }
        }
    })
</script>

</html>